@{
    ViewBag.Title = "Index";
}

<h2>Gestion des amitiés</h2>

<hr />
<div>
    <!-- SEARCH SECTION -->
  
    <div>

        <input type="text" id="targetNameInput" placeholder="Entrez un nom..." oninput="updateSearch()">
        <i class="fa-solid fa-fw fa-search"></i>
    </div>
  

    <label><input type="checkbox" id="showOthersCheckbox" onchange="updateSearch()"><i class="fa-solid fa-fw fa-plus-circle canSend"></i></label>
    <label><input type="checkbox" id="showReceivedCheckbox" onchange="updateSearch()"><i class="fa-solid fa-fw fa-check accept-pending"></i></label>
    <label><input type="checkbox" id="showFriendsCheckbox" onchange="updateSearch()"><i class="fa-solid fa-fw fa-circle-check accepted"></i></label>
    <label><input type="checkbox" id="showSentCheckbox" onchange="updateSearch()"><i class="fa-solid fa-fw fa-hourglass-start pending"></i></label>
    <label><input type="checkbox" id="showDeclinedCheckbox" onchange="updateSearch()"><i class="fa fa-fw fa-times-circle denied"></i></label>
    <label><input type="checkbox" id="showBlockedCheckbox" onchange="updateSearch()"><i class="fa-solid fa-fw fa-ban blocked"></i></label>
</div>

<hr />

<div>
    <div id="RelationsRefreshContainer"><!-- REFRESH CONTAINER --></div>
</div>

@section Scripts {
    <script defer>
        function updateSearch() {
           
            let targetName = document.getElementById("targetNameInput").value;

  
            let showOthers = document.getElementById("showOthersCheckbox").checked;
            let showReceived = document.getElementById("showReceivedCheckbox").checked;
            let showFriends = document.getElementById("showFriendsCheckbox").checked;
            let showSent = document.getElementById("showSentCheckbox").checked;
            let showDeclined = document.getElementById("showDeclinedCheckbox").checked;
            let showBlocked = document.getElementById("showBlockedCheckbox").checked;

        
            relations.replaceData({
                showOthers: showOthers,
                showReceived: showReceived,
                showFriends: showFriends,
                showSent: showSent,
                showDeclined: showDeclined,
                showBlocked: showBlocked,
                targetName: targetName
            });

            relations.refresh(true);
        }

        function sendFriendRequest(targetUserId) {
            relations.commandPost("@Url.Action("CreateRequest")", {
                targetUserId: targetUserId
            });
        };

        function cancelFriendRequest(targetUserId) {
            relations.commandPost("@Url.Action("CancelRequest")", {
                targetUserId: targetUserId
            });
        };

        function acceptFriendRequest(targetUserId) {
            relations.commandPost("@Url.Action("AcceptRequest")", {
                targetUserId: targetUserId,
                isAccepting: true
            });
        };

        function declineFriendRequest(targetUserId) {
            relations.commandPost("@Url.Action("AcceptRequest")", {
                targetUserId: targetUserId,
                isAccepting: false
            });
        };

        // --- PARTIAL REFRESH ---
        function getTargetUserId(elem) {
            return elem.closest('.relation-parent').attr('data-id');
        }

        let onRefresh = function () {
            $(".canSend").click(function () {
                sendFriendRequest(getTargetUserId($(this)));
            });

            $(".accept-pending").click(function () {
                acceptFriendRequest(getTargetUserId($(this)));
            });

            $(".deny-pending").click(function () {
                declineFriendRequest(getTargetUserId($(this)));
            });

            $(".cancel-pending").click(function () {
                cancelFriendRequest(getTargetUserId($(this)));
            });
        };

        let relations = new PartialRefresh("@Url.Action("GetRelations")", "RelationsRefreshContainer", 20, onRefresh, false);
        // ---

        search();

        //initTimeout(120);
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/Content/RelationStyles.css" />
}