@{
    ViewBag.Title = "Index";
}

<h2>Gestion des amitiés</h2>

<hr />
<div>
    <!-- SEARCH SECTION -->

    <div id="search-bar">

        <input type="text" id="targetNameInput" placeholder="Entrez un nom...">
        <i id="search-btn" class="fa-solid fa-fw fa-search"></i>
    </div>

    <div>
        <label>
            <input type="checkbox" id="showOthersCheckbox" checked><i class="fa-solid fa-fw fa-plus-circle positive" title="Demande possible"></i>
        </label>
        <label>
            <input type="checkbox" id="showReceivedCheckbox" checked><i class="fa-solid fa-fw fa-check positive" title="À accepter"></i>
        </label>
        <label>
            <input type="checkbox" id="showFriendsCheckbox" checked><i class="fa-solid fa-fw fa-circle-check positive" title="Amis"></i>
        </label>
        <label>
            <input type="checkbox" id="showSentCheckbox" checked><i class="fa-solid fa-fw fa-hourglass-start positive" title="En attente"></i>
        </label>
        <label>
            <input type="checkbox" id="showDeclinedCheckbox" checked><i class="fa fa-fw fa-times-circle negative" title="Demande déclinée"></i>
        </label>
        <label>
            <input type="checkbox" id="showBlockedCheckbox" checked><i class="fa-solid fa-fw fa-ban negative" title="Bloqué"></i>
        </label>
    </div>
</div>

<hr />

<div>
    <div id="RelationsRefreshContainer"><!-- REFRESH CONTAINER --></div>
</div>

@section Scripts {
    <script defer>
        function search() {

            let targetName = document.getElementById("targetNameInput").value;

            if (targetName.trim().length == 0)
                targetName = undefined;

            let showOthers = document.getElementById("showOthersCheckbox").checked;
            let showReceived = document.getElementById("showReceivedCheckbox").checked;
            let showFriends = document.getElementById("showFriendsCheckbox").checked;
            let showSent = document.getElementById("showSentCheckbox").checked;
            let showDeclined = document.getElementById("showDeclinedCheckbox").checked;
            let showBlockeds = document.getElementById("showBlockedCheckbox").checked;

            relations.replaceData({
                showOthers: showOthers,
                showReceived: showReceived,
                showFriends: showFriends,
                showSent: showSent,
                showDeclined: showDeclined,
                showBlocked: showBlockeds,
                targetName: targetName
            });
            relations.refresh(true);
        }

        function sendFriendRequest(targetUserId) {
            relations.commandPost("@Url.Action("CreateRequest")", {
                targetUserId: targetUserId
            });
        };

        function cancelFriendRequest(targetUserId) {
            relations.commandPost("@Url.Action("CancelRequest")", {
                targetUserId: targetUserId
            });
        };

        function acceptFriendRequest(targetUserId) {
            relations.commandPost("@Url.Action("AcceptRequest")", {
                targetUserId: targetUserId,
                isAccepting: true
            });
        };

        function declineFriendRequest(targetUserId) {
            relations.commandPost("@Url.Action("AcceptRequest")", {
                targetUserId: targetUserId,
                isAccepting: false
            });
        };

        // --- PARTIAL REFRESH ---
        function getTargetUserId(elem) {
            return elem.closest('.relation-parent').attr('data-id');
        }

        let onRefresh = function () {
            $(".canSend").click(function () {
                sendFriendRequest(getTargetUserId($(this)));
            });

            $(".accept-pending").click(function () {
                acceptFriendRequest(getTargetUserId($(this)));
            });

            $(".deny-pending").click(function () {
                declineFriendRequest(getTargetUserId($(this)));
            });

            $(".cancel-pending").click(function () {
                cancelFriendRequest(getTargetUserId($(this)));
            });
        };

        let relations = new PartialRefresh("@Url.Action("GetRelations")", "RelationsRefreshContainer", 20, onRefresh, false);
        // ---

        search();
        $("#search-btn").click(search)

        //initTimeout(120);
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/Content/RelationStyles.css" />
}