@model IEnumerable<Models.Message>
@{ 
    DateTime? lastDate = null;
}

@foreach (var message in Model)
{
    var id = message.Id;
    var content = message.Content;
    var fromLocal = message.FromSessionUser();
    var messageClass = fromLocal ? "own" : "other";
    var date = message.SentAt.ToString("HH:mm:ss");
    var title = fromLocal ? "Envoyé à " + date : "Reçu à " + date;

    if (!lastDate.HasValue || (message.SentAt - lastDate.Value).TotalMinutes >= 30)
    {
        lastDate = message.SentAt;
        <div class="chat-message-dividier">
            <span>
                @lastDate.Value.ToString("dd MMMM yyyy - HH:mm")
            </span>
            <hr />
        </div>
    }

    <div 
         id="message-@id" 
         class="chat-message @messageClass" 
         title="@title" 
         data-id="@id" 
         data-content="@content">
        @Helper.ParseContent(content)
    </div>
}

@if (Model.Count() == 0)
{
    <div id="message-empty">C'est le début d'une discussion légendairement légendaire</div>
}